<div class="timelinecard">
    <div class="menu">
        <h2 style="font-size:1.5rem;">Problems Timeline</h2>
        <nz-segmented [nzOptions]="options" (nzValueChange)="handleIndexChange($event)"></nz-segmented>
    </div>
    
    <nz-timeline *ngIf="isLoaded" class="content" style="padding: 3rem 3rem 1rem 3rem;">
        <ng-container *ngIf="timeline && objectEntries(timeline).length > 0">
            <ng-container *ngFor="let key of objectEntries(timeline)">
                <nz-timeline-item>
                    <p>{{key}}&nbsp;<span style="color: var(--secondaryColor);">({{timeline[key].length}} Problems)</span></p>
                    <a *ngFor="let val of timeline[key];let i = index" routerLink="/problem/statement/{{val.id}}">
                        {{val.name}}
                        <span *ngIf="i !== timeline[key].length - 1">,&nbsp;</span>
                    </a>
                </nz-timeline-item>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!timeline || objectEntries(timeline).length == 0">
            No Timeline Information Available
        </ng-container>
    </nz-timeline>
    

    <div *ngIf="!isLoaded" class="menu" style="width: 85%; height: 20rem;">
        <h2 style="margin: 0%;font-size:1.5rem;">Loading....</h2>
    </div>
</div>