<ng-container *ngIf="note_head && this.note_head.items.length > 0">
    <div *ngIf="note_head.items.length" style="display: flex;justify-content: space-between;margin-bottom: 1rem;">
        <div style="display: inline-flex;">
            <fa-icon [icon]="ArrowLIcon" [size]="'2x'" style="cursor: pointer;" (click)="prevPage()"></fa-icon>
            <h3 style="margin: 0rem 1rem;">Page {{page+1}} of {{note_head.items.length}}</h3>
            <fa-icon [icon]="ArrowRIcon" [size]="'2x'" style="cursor: pointer;" (click)="nextPage()"></fa-icon>
        </div>

        <div *ngIf="extension == '.pdf'" style="display: inline-flex;">
            <h3>{{filename}} &nbsp;
                <a href="{{note}}">
                    <fa-icon [icon]="FullScreenIcon" ></fa-icon>
                </a>
            </h3>
        </div>

        <div style="display: inline-flex;">
            <button nz-button nzType="default" nz-popconfirm
                nzPopconfirmTitle="Are you sure delete this note?"
                (nzOnConfirm)="performOperation('delete', note_head)"
                nzPopconfirmPlacement="bottom">
                <fa-icon [icon]="deleteIcon"></fa-icon>&nbsp;Remove Note
            </button>
        </div>
    </div>
    <div>
        <markdown *ngIf="extension == '.md'" clipboard [clipboardButtonTemplate]="buttonTemplate" [src]="note" class="markup"></markdown>

        <ng-template #buttonTemplate>
            <button class="btn-clipboard" (click)="onCopyToClipboard()">
                <fa-icon [icon]="Clipboard"></fa-icon>&nbsp;&nbsp;Copy
            </button>
        </ng-template>

        <ngx-extended-pdf-viewer *ngIf="extension == '.pdf'"
        [src]=note
        [height]="'auto'"
        [zoom]="'page-fit'"
        [textLayer]="true"
        [theme]="'dark'"
        [backgroundColor]="'var(--headerColor)'"
        [showHandToolButton]="true">
        </ngx-extended-pdf-viewer>
    </div>
</ng-container>