<ng-container *ngIf="item">
    <ng-container *ngTemplateOutlet="isDesktop ? newTemplate : oldTemplate"></ng-container>

    <ng-template #newTemplate>
        <div class="split-pane">
            <div class="split-pane-item">
                <div style="display: flex;justify-content: space-between;">
                    <div>
                        <h2 style="margin: 0%;">Problem: <span class="color-primary">{{ item.name }}</span></h2>
                        <h3 style="margin: 0%;"> 
                            <span class="color-primary">{{item.type.name}}</span>
                            <span *ngIf="item.subdirectory">&nbsp;({{item.subdirectory.replaceAll(":", " -> ")}})</span>
                        </h3>
                        <h3>{{ item.level }}</h3>
                    </div>
                    <div style="text-align: center;">
                        <h3 style="padding: 0.5rem 0px;">Status: <span class="color-primary">{{ item.status }}</span></h3>
                        <a *ngIf="button" class="btn-code-action-sm" [href]="item.url">
                            <img [src]="button.icon">View on {{button.name}}
                        </a>
                        <a *ngIf="!button" class="btn-code-action-sm" [href]="item.url">
                            <fa-icon class="color-primary" [icon]="codeIcon" ></fa-icon>&nbsp;View Problem Statement
                        </a>
                    </div>
                </div>

                <nz-tabset [nzSize]="'large'">
                    <nz-tab nzTitle="Description">
                        <div *ngIf="item.description" class="description" [innerHTML]="item.description | safe: 'html'"></div>
                        <div *ngIf="!item.description">No Description Added</div>
                    </nz-tab>
                    
                    <nz-tab nzTitle="Notes">
                        <div *ngIf="item.notes" class="notes" [innerHTML]="item.notes | safe: 'html'"></div>
                        <div *ngIf="!item.notes">No Notes Added</div>
                    </nz-tab>

                    <nz-tab *ngIf="item.remarks" nzTitle="Remarks">
                        <nz-tag *ngFor="let remark of item.remarks.split(':')" [nzColor]="'var(--alternativeColor)'" routerLink="/problem/remark/{{createSlug(remark)}}">{{remark}}</nz-tag>
                    </nz-tab>
                    
                    <nz-tab *ngIf="item.companies.length > 0" nzTitle="Companies">
                        <nz-tag *ngFor="let company of item.companies" [nzColor]="getColor(company)" routerLink="/problem/company/{{company.slug}}">{{company['name']}}</nz-tag>
                    </nz-tab>

                    <nz-tab *ngIf="item.concepts" nzTitle="Topics">
                        <nz-tag *ngFor="let concept of item.concepts.split(':')" [nzColor]="'var(--alternativeColor)'">{{concept}}</nz-tag>
                    </nz-tab>

                    <nz-tab *ngIf="YTSolutions.length > 0" nzTitle="Videos">
                        <nz-alert nzType="warning" nzMessage="Search results may not be entirely accurate." nzShowIcon></nz-alert>
                        <nz-table #YTTable [nzData]="YTSolutions" [nzPageSize]="5">
                            <tbody>
                              <tr *ngFor="let item of YTTable.data">
                                <a style="display:flex;align-items: center;" [href]="item.url" target="_blank">
                                    <img *ngIf="item.image" [src]="item.image" width="120" style="padding: 0.8rem;border-radius: 20px;">&nbsp;
                                    <h3>{{item.title}}</h3>
                                </a>
                              </tr>
                            </tbody>
                        </nz-table>
                    </nz-tab>
                </nz-tabset>
            </div>
            <div class="split-pane-item">
                <nz-tabset [nzSize]="'large'">
                    <nz-tab nzTitle="Your Code">
                        <div class="branch-selector coderun">
                            <div class="lang-selector">
                                <span>
                                    Language:
                                    <nz-select [nzDisabled]="showOutput" [nzSize]="'large'" [nzDropdownMatchSelectWidth]="false" [nzCustomTemplate]="iconSelectTemplate" [nzDropdownClassName]="'branch-selector-dropdown'" nzPlaceHolder="Select a branch" [(ngModel)]="currentLang">
                                        <nz-option nzCustomContent *ngFor="let lang of languages" [nzLabel]="lang['name']" [nzValue]="lang['value']">
                                        <i [ngClass]="lang['icon']"></i>&nbsp;&nbsp;{{lang['name']}}
                                        </nz-option>
                                    </nz-select>
                                </span>
    
                                <span class="run-btns">
                                    <span style="cursor:pointer;" (click)="runCode()">
                                        <fa-icon [icon]="Play"></fa-icon>&nbsp;&nbsp;Run Code
                                    </span>
                                    <button class="btn-clipboard" (click)="showHideOutput()">
                                        <fa-icon [icon]="codeIcon"></fa-icon>&nbsp;&nbsp;
                                        {{ !showOutput ? 'Show' : 'Hide'}} Output
                                    </button>
                                </span>
                            </div>

                            <ng-template #iconSelectTemplate let-selected>
                                {{ selected.nzLabel }}
                            </ng-template>
    
                            <div *ngIf="!showOutput" class="codeblock">
                                <pre><code contenteditable="true" (input)="onCodeChange($event.target)" [highlightAuto]="code"></code></pre>
                                <!-- <div class="copybutton">
                                    <button class="btn-clipboard" (click)="onCopyToClipboard(code)">
                                        <fa-icon [icon]="Clipboard"></fa-icon>&nbsp;&nbsp;Copy
                                    </button>
                                </div> -->
                            </div>

                            <div *ngIf="showOutput" class="codeblock">
                                <div *ngIf="runAnalysis" class="lang-selector" style="padding: 0.8% 0%;">
                                    <h3>Time: <span class="color-primary">{{runAnalysis['time']}} ms</span></h3>
                                    <h3>Space: <span class="color-primary">{{runAnalysis['space']}} KB</span></h3>
                                </div>
                                <pre><code [highlightAuto]="outputs.join('\n')"></code></pre>
                            </div>
                        </div>
                    </nz-tab>

                    <nz-tab nzTitle="Test Cases">
                        <div style="display: flex;justify-content: space-between;align-items: center;">
                            <span>
                                Test Result: <span class="color-primary text-bold">Passed</span>
                            </span>
                            <span>
                                <button class="btn-clipboard" (click)="runTests()">
                                    <fa-icon [icon]="Play"></fa-icon>&nbsp;&nbsp;Run Tests
                                </button>
                            </span>
                        </div>
                        <div class="grid1">
                            <div class="card" *ngFor="let item of testCases;let i = index">
                                <span class="color-primary">Test Case #{{i+1}}:</span>
                                <span>
                                    Input: 
                                    <span class="text-bold">{{item.call_function}} ({{item.call_input_type == 'list' ? '&nbsp;&nbsp;[' : ''}} <span class="focus-input">{{item.call_inputs.join(", ")}}</span>
                                        {{item.call_input_type == 'list' ? ']&nbsp;&nbsp;' : ''}})</span>
                                </span>
                                <span>
                                    Output: 
                                    <span class="color-primary text-bold">
                                        {{ item.required_output_type == 'list' ? '[ '+item.required_outputs.join(", ")+' ]' : item.required_outputs.join(", ") }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </nz-tab>

                    <nz-tab nzTitle="ChatGPT Code" *ngIf="suggested_code">
                        <nz-alert nzType="warning" nzMessage="Solution provided may not be accurate." nzShowIcon></nz-alert>
                        <div class="codeblock">
                            <pre><code [highlightAuto]="suggested_code"></code></pre>
                            <div class="copybutton">
                                <button class="btn-clipboard" (click)="onCopyToClipboard(code)">
                                    <fa-icon [icon]="Clipboard"></fa-icon>&nbsp;&nbsp;Copy
                                </button>
                            </div>
                        </div>
                    </nz-tab>
                </nz-tabset>
            </div>
        </div>
    </ng-template>


    <ng-template #oldTemplate>

        <div style="display: flex;justify-content: space-between;">
            <div>
                <h1 style="margin: 0%;">Problem: <span class="color-primary">{{ item.name }}</span></h1>
                <h2 style="margin: 0%;"> 
                    <span class="color-primary">{{item.type.name}}</span>
                    <span *ngIf="item.subdirectory">&nbsp;({{item.subdirectory.replaceAll(":", " -> ")}})</span>
                </h2>
                <h3>{{ item.level }}</h3>
            </div>
            <div style="text-align: right;">
                <h2 style="padding: 0.5rem 0px;">Status: <span class="color-primary">{{ item.status }}</span></h2>
                <a *ngIf="button" class="btn-code-action" [href]="item.url"><img [src]="button.icon">View on {{button.name}}</a>
                <a *ngIf="!button" class="btn-code-action" [href]="item.url"><fa-icon class="color-primary" [icon]="codeIcon" ></fa-icon>&nbsp;View Problem Statement</a>
            </div>
        </div>

        <div *ngIf="item.companies" style="width: 60%;">
            <nz-tag *ngFor="let company of item.companies.slice(0, 5)" [nzColor]="getColor(company)" routerLink="/problem/company/{{company.slug}}">{{company['name']}}</nz-tag>
            <ng-container *ngIf="showMore">
                <nz-tag *ngFor="let company of item.companies.slice(5)" [nzColor]="getColor(company)" routerLink="/problem/company/{{company.slug}}">{{company['name']}}</nz-tag>
            </ng-container>
            <ng-container *ngIf="item.companies.length > 5">
                <nz-tag *ngIf="!showMore" (click)="showMore = true;" [nzColor]="'transparent'">+ More</nz-tag>
                <nz-tag *ngIf="showMore" (click)="showMore = false;" [nzColor]="'transparent'">- Less</nz-tag>
            </ng-container>
        </div>
        
    
        <nz-collapse [nzBordered]="false">
            <nz-collapse-panel *ngIf="item.description" [nzHeader]="'Description'" [nzActive]="true">
                <div class="description" [innerHTML]="item.description | safe: 'html'"></div>
            </nz-collapse-panel>
            
            <nz-collapse-panel *ngIf="code" [nzHeader]="'Code'" [nzActive]="!item.description ? true : false">
                <div class="codeblock">
                    <pre><code [highlightAuto]="code"></code></pre>
                    <div class="copybutton">
                        <button class="btn-clipboard" (click)="onCopyToClipboard(code)">
                            <fa-icon [icon]="Clipboard"></fa-icon>&nbsp;&nbsp;Copy
                        </button>
                    </div>
                </div>
            </nz-collapse-panel>
    
            <nz-collapse-panel *ngIf="item.notes" [nzHeader]="'Notes'" [nzActive]="false">
                <div class="notes" [innerHTML]="item.notes | safe: 'html'"></div>
            </nz-collapse-panel>
        </nz-collapse>
    </ng-template>

</ng-container>

