nz-header {
    border-bottom: 1px solid var(--primaryColor);
    position: fixed;
    width: 100%;
    z-index: 2;
}

[nz-menu] {
    line-height: 64px;
}

.editable {
    width: 80%;
    max-width: 80%;
    p {
        margin-top: 1rem;
        margin-bottom: 0%;
    }

    p:first-child {
        margin-top: 0%;
    }
}