<nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="horizontal-menu">
      <div class="sub-menu-div">
        <li nz-menu-item class="nohover" style="padding-left: 0.5%;">
          <span (click)="open()" style="color: var(--secondaryColor);display: inline-block;margin: 0px 10px 0px 0px;">
            <fa-icon [icon]="barsIcon"></fa-icon>
          </span>
          <span routerLink="/dashboard" style="display: inline-block;">
            <img src="{{icon}}" height="40" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);">&nbsp;&nbsp;{{name}}
          </span>
        </li>
        <!-- Event Section -->
        <li nz-menu-item class="nohover">
          <a nz-dropdown [nzDropdownMenu]="emenu" nzTrigger="click"><fa-icon [icon]="calendarIcon"></fa-icon>&nbsp;Events</a>
          <nz-dropdown-menu #emenu="nzDropdownMenu">
            <ul nz-menu nzSelectable class="d-list-container">
              <li nz-menu-item *ngFor="let reminder of reminders" class="d-list" (click)="openShowModal('event', reminder)">
                <div class="d-list-item">
                  <fa-icon [icon]="calendarIcon" size="3x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    {{reminder.name}}
                  </h4>
                  <div class="d-description">
                    {{reminder.description}}
                  </div>
                </div>
              </li>
              
              <li *ngIf="addItem" nz-menu-item class="d-list" (click)="isModalVisible['event'] = true">
                <div class="d-list-item">
                  <fa-icon [icon]="plusIcon" size="2x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    Create A New Event
                  </h4>
                </div>
              </li>

              <nz-list-empty *ngIf="!addItem && reminders.length == 0"></nz-list-empty>
            </ul>
          </nz-dropdown-menu>
        </li>
        <!-- Playlist Section -->
        <li nz-menu-item class="nohover">
          <a nz-dropdown [nzDropdownMenu]="pmenu" nzTrigger="click"><fa-icon [icon]="videoIcon"></fa-icon>&nbsp;Playlists</a>
          <nz-dropdown-menu #pmenu="nzDropdownMenu">
            <ul nz-menu nzSelectable class="d-list-container">
              <li nz-menu-item *ngFor="let playlist of playlists" routerLink="/playlist/{{playlist.id}}" class="d-list">
                <div class="d-list-item">
                  <fa-icon [icon]="videoIcon" size="2x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    {{playlist.title}}
                  </h4>
                </div>
              </li>
              
              <li *ngIf="addItem" nz-menu-item routerLink="/marketplace/playlists" class="d-list">
                <div class="d-list-item">
                  <fa-icon [icon]="webIcon" size="2x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    Browse Playlists
                  </h4>
                </div>
              </li>

              <nz-list-empty *ngIf="!addItem && playlists.length == 0"></nz-list-empty>
            </ul>
          </nz-dropdown-menu>
        </li>
        <!-- Note Section -->
        <li nz-menu-item class="nohover">
          <a nz-dropdown [nzDropdownMenu]="nmenu" nzTrigger="click"><fa-icon [icon]="bookIcon"></fa-icon>&nbsp;Notes</a>
          <nz-dropdown-menu #nmenu="nzDropdownMenu" class="d-list-container">
            <ul nz-menu nzSelectable class="d-list-container">
              <li nz-menu-item *ngFor="let note of notes" class="d-list" routerLink="/notes/{{note.id}}">
                <div class="d-list-item">
                  <fa-icon [icon]="bookIcon" size="2x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <a class="nohover">
                    <h4 class="d-title">{{note.title}}</h4>
                  </a>
                </div>
              </li>
              
              <li *ngIf="addItem" nz-menu-item class="d-list" (click)="isModalVisible['note'] = true">
                <div class="d-list-item">
                  <fa-icon [icon]="plusIcon" size="2x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    Add A Note
                  </h4>
                </div>
              </li>

              <nz-list-empty *ngIf="!addItem && notes.length == 0"></nz-list-empty>
            </ul>
          </nz-dropdown-menu>
        </li>
        <!-- Tracker Section -->
        <li nz-menu-item class="nohover">
          <a nz-dropdown [nzDropdownMenu]="tmenu" nzTrigger="click"><fa-icon [icon]="thumbtackIcon"></fa-icon>&nbsp;Trackers</a>
          <nz-dropdown-menu #tmenu="nzDropdownMenu">
            <ul nz-menu nzSelectable class="d-list-container">
              <li nz-menu-item *ngFor="let tracker of trackers" class="d-list" (click)="openShowModal('tracker', tracker)">
                <div class="d-list-item">
                  <fa-icon [icon]="thumbtackIcon" size="2x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    {{tracker.name}}
                  </h4>
                  <div class="d-description">
                    {{tracker.level}}
                  </div>
                </div>
              </li>
              
              <li *ngIf="addItem" nz-menu-item class="d-list" (click)="isModalVisible['tracker'] = true">
                <div class="d-list-item">
                  <fa-icon [icon]="plusIcon" size="2x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    Add A Tracker
                  </h4>
                </div>
              </li>

              <nz-list-empty *ngIf="!addItem && trackers.length == 0"></nz-list-empty>
            </ul>
          </nz-dropdown-menu>
        </li>
        <!-- Platform Section -->
        <li nz-menu-item class="nohover">
          <a nz-dropdown [nzDropdownMenu]="lmenu" nzTrigger="click"><fa-icon [icon]="linkIcon"></fa-icon>&nbsp;Platforms</a>
          <nz-dropdown-menu #lmenu="nzDropdownMenu">
            <ul nz-menu nzSelectable class="d-list-container">
              <li nz-menu-item *ngFor="let platform of platforms" class="d-list" (click)="openShowModal('link', platform)">
                <div class="d-list-item">
                  <img [src]="platform.icon" width="35">
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    {{platform.name}}
                  </h4>
                </div>
              </li>
              
              <li *ngIf="addItem" nz-menu-item class="d-list" (click)="isModalVisible['link'] = true">
                <div class="d-list-item">
                  <fa-icon [icon]="plusIcon" size="2x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    Add A Platform
                  </h4>
                </div>
              </li>

              <nz-list-empty *ngIf="!addItem && platforms.length == 0"></nz-list-empty>
            </ul>
          </nz-dropdown-menu>
        </li>
        <!-- Sheet Section -->
        <li nz-menu-item class="nohover">
          <a nz-dropdown [nzDropdownMenu]="dmenu" nzTrigger="click"><fa-icon [icon]="sheetIcon"></fa-icon>&nbsp;Sheets</a>
          <nz-dropdown-menu #dmenu="nzDropdownMenu">
            <ul nz-menu nzSelectable class="d-list-container">
              <li nz-menu-item *ngFor="let sheet of sheets" routerLink="/sheet/{{sheet.id}}" class="d-list">
                <div class="d-list-item">
                  <fa-icon [icon]="sheetIcon" size="2x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    {{sheet.title}}
                  </h4>
                </div>
              </li>
              
              <li *ngIf="addItem" nz-menu-item routerLink="/marketplace/sheets" class="d-list">
                <div class="d-list-item">
                  <fa-icon [icon]="webIcon" size="2x"></fa-icon>
                </div>
                <div class="d-list-item">
                  <h4 class="d-title">
                    Browse Sheets
                  </h4>
                </div>
              </li>
              
              <nz-list-empty *ngIf="!addItem && sheets.length == 0"></nz-list-empty>
            </ul>
          </nz-dropdown-menu>
        </li>
      </div>

      <div class="sub-menu-div">
        <li *ngIf="showStartTimer && !isDashboardActive" nz-menu-item class="nohover" style="padding-right: 0.5%;">
          <span>
            <h3 style="margin: 0%;">
              <ng-container *ngIf="!isPaused">
                <fa-icon (click)="pauseTimer()" [icon]="pauseIcon" ></fa-icon>&nbsp;
              </ng-container>
  
              <ng-container *ngIf="isPaused">
                <fa-icon (click)="resumeTimer()" [icon]="playIcon" ></fa-icon>&nbsp;
              </ng-container>
  
              <fa-icon (click)="stopTimer()" [icon]="stopIcon" ></fa-icon>&nbsp;
              <b>{{ minutes | number :'2.0' }}:{{ seconds | number: '2.0'}}</b>
            </h3>
          </span>
        </li>

        <li *ngIf="branchInfo" nz-menu-item class="nohover branch-selector" style="padding-right: 0.5%;">
          <nz-select [nzSize]="'large'" [nzDropdownMatchSelectWidth]="false" [nzPlacement]="'bottomRight'" [nzCustomTemplate]="iconSelectTemplate" [nzDropdownClassName]="'branch-selector-dropdown'" nzPlaceHolder="Select a branch" [(ngModel)]="currentBranch" (ngModelChange)="showConfirm()">
            <nz-option nzCustomContent *ngFor="let item of branchInfo.branches" [nzLabel]="item" [nzValue]="item">
              <fa-icon [icon]="branchIcon"></fa-icon>&nbsp;&nbsp;{{item}}
            </nz-option>
          </nz-select>

          <ng-template #iconSelectTemplate let-selected>
            <fa-icon [icon]="branchIcon"></fa-icon>&nbsp;
            {{ selected.nzLabel }}
          </ng-template>
        </li>
        
        <li nz-menu-item class="nohover" style="padding-right: 0.5%;">
          <a class="btn-theme-switch" (click)="codebase.switchTheme()">
            <fa-icon [icon]="switchTheme" style="display: contents;"></fa-icon>
            {{themeType}}
          </a>
        </li>
      </div>
    </ul>

    <ngx-nav-drawer [(open)]="visible">
        <ul nz-menu nzTheme="dark" nzMode="vertical">
          <li nz-menu-item class="nohover" style="padding: 2rem;display: flex;align-items: center;">
            <span routerLink="/dashboard" style="display: inline-block;">
              <img src="{{icon}}" height="40" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);">&nbsp;&nbsp;{{name}}
            </span>
          </li>
          <li *ngFor="let menu of codebase.types" nz-menu-item routerLink="/problem/type/{{menu.slug}}" [nzSelected]="isActive(menu.slug)" style="padding: 1.5rem;
          align-items: center;
          display: flex;">
            {{menu.name}}
          </li>    
        </ul>
    </ngx-nav-drawer>
</nz-header>

<app-modal [(visible)]="isModalVisible[modalType]" title="Add {{modalType | titlecase}}" [content]="addNewModal" (onCancel)="handleCancel(modalType)" (onConfirm)="handleConfirm(modalType)"></app-modal>

<ng-template #addNewModal>
  <!-- <nz-segmented style="margin-bottom: 1rem;" [nzOptions]="['Add Manually', 'Add Using File']" [(ngModel)]="selectedUploadOption" (ngModelChange)="handleIndexChange($event)"></nz-segmented> -->

  <ng-container *ngIf="selectedUploadOption == 1">
    <p>Upload {{modalType}}.json files to continue</p>
    <form [formGroup]="filesForm">
      <file-upload formControlName="files" [multiple]="true" [animation]="true" style="background: var(--headerColor);outline:1px dashed var(--primaryColor)" accept="application/json">
        <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
          <file-upload-drop-zone>
              @if (isFileDragDropAvailable) {
                  <b>Drag and drop</b> files<br> or click here
              } @else {
                  <b>Click here</b> to<br> upload the files
              }
          </file-upload-drop-zone>
        </ng-template>

        <ng-template let-i="index" let-file="file" let-control="control" #item>
          <div class="file-info" style="display: flex;padding: 1% 0%;flex-direction: column;">
            <div class="file-name" style="display: inline-flex;align-items: center;">
              <fa-icon [icon]="fileIcon" [size]="'2x'"></fa-icon>&nbsp;&nbsp;{{ file.name }} &nbsp;&nbsp; <fa-icon [icon]="trashIcon" (click)="control.removeFile(file)" style="cursor: pointer;"></fa-icon>
            </div>
          </div>
        </ng-template>
      </file-upload>
    </form>
  </ng-container>
</ng-template>

<nz-modal [(nzVisible)]="showModal" nzCentered nzTitle="{{showModalType | titlecase}}" (nzOnCancel)="hideShowModal()">
  <div *nzModalContent>
    <form [formGroup]="editableForm">
      <div *ngIf="showModalType == 'event'" class="d-list" style="padding: 0.5%;align-items: center;">
        <div *ngIf="!isOnEditMode">
          <p>Name: {{showModalItem.name}}</p>
          <p *ngIf="showModalItem.description">Description: {{showModalItem.description}}</p>
          <p *ngIf="showModalItem.recurrence">Recurrence: {{showModalItem.recurrence | titlecase}}</p>
          <p *ngIf="showModalItem.date">Date: {{convertDateStringToDate(showModalItem.date)}}</p>
          <p *ngIf="showModalItem.start_time">Start Time: {{convertTimeStringToDate(showModalItem.start_time) | date: 'h:mm a'}}</p>
          <p *ngIf="showModalItem.end_time">End Time: {{convertTimeStringToDate(showModalItem.end_time) | date: 'h:mm a'}}</p>
        </div>
        
        <div *ngIf="isOnEditMode" class="editable">
          <p>Name:</p>
          <input nz-input placeholder="Name" type="text" formControlName="name"/>
          <p>Description:</p>
          <textarea nz-input placeholder="Description" nzAutosize formControlName="description"></textarea>
          <p>Recurrence:</p>
          <nz-select nzPlaceHolder="Recurrence" formControlName="recurrence">
            <nz-option *ngFor="let item of recurrance_types" nzValue="{{item.value}}" nzLabel="{{item.text}}"></nz-option>
          </nz-select>
          <nz-select nzPlaceHolder="Days" formControlName="days" [style]="editableForm.get('recurrence')?.value == 'EVERY' ? '' : 'display:none'">
            <nz-option *ngFor="let item of recurrance_subtypes" nzValue="{{item.value}}" nzLabel="{{item.text}}"></nz-option>
          </nz-select>
          <p [style]="editableForm.get('recurrence')?.value == 'ONCE' ? '' : 'display:none'">Date:</p>
          <nz-date-picker nzPlaceHolder="Date" formControlName="date" [style]="editableForm.get('recurrence')?.value == 'ONCE' ? '' : 'display:none'"></nz-date-picker>
          <p>Start Time:</p>
          <nz-time-picker nzPlaceHolder="Start Time" [nzUse12Hours]="true" nzFormat="h:mm a" formControlName="startTime"></nz-time-picker>
          <p>End Time:</p>
          <nz-time-picker nzPlaceHolder="End Time" [nzUse12Hours]="true" nzFormat="h:mm a" formControlName="endTime"></nz-time-picker>
        </div>
        
        <div>
          <fa-icon [icon]="calendarIcon" size="5x"></fa-icon>
        </div>
      </div>
  
      <div *ngIf="showModalType == 'tracker'" class="d-list" style="padding: 0.5%;align-items: center;">
        <div *ngIf="!isOnEditMode">
          <p>Name: {{showModalItem.name}}</p>
          <p>Levels: {{showModalItem.level}}</p> 
        </div>
  
        <div *ngIf="isOnEditMode" class="editable">
          <p>Name:</p>
          <input nz-input placeholder="Name" type="text" formControlName="name"/>
          <p>Levels:</p>
          <div formArrayName="levels">
            <label *ngFor="let item of levelOptions; let i = index" nz-checkbox [nzChecked]="levelFormArray.at(i).value" (change)="onCheckboxChange($event, i)">
              {{item}}
            </label>
          </div>
        </div>
  
        <div>
          <fa-icon [icon]="thumbtackIcon" size="3x"></fa-icon>
        </div>
      </div>
  
      <div *ngIf="showModalType == 'link'" class="d-list" style="padding: 0.5%;align-items: center;justify-content: space-between;">
        <div *ngIf="!isOnEditMode" style="max-width: 80%;">
          <p>Name: {{showModalItem.name}}</p>
          <p>URL: <a [href]="showModalItem.url">{{showModalItem.url}}</a></p>
          <p>Icon: <a [href]="showModalItem.icon">{{showModalItem.icon}}</a></p>
        </div>
        
        <div *ngIf="isOnEditMode" class="editable">
          <p>Name:</p>
          <input nz-input placeholder="Name" type="text" formControlName="name" />
          <p>URL:</p>
          <input nz-input placeholder="URL" type="text" formControlName="url" />
          <p>Icon:</p>
          <input nz-input placeholder="Icon" type="text" formControlName="icon" />
        </div>
  
        <div>
          <img [src]="showModalItem.icon" width="60">
        </div>
      </div>
    </form>
  </div>
  <div *nzModalFooter>
    <ng-container *ngIf="!isOnEditMode">
      <button nz-button nzType="primary" (click)="isOnEditMode = true">
        <fa-icon [icon]="editIcon"></fa-icon>&nbsp;Edit {{showModalType | titlecase}}
      </button>
      <button nz-button nzType="default"
      nz-popconfirm
      nzPopconfirmTitle="Are you sure delete this {{showModalType | lowercase}}?"
      (nzOnConfirm)="performOperation('delete')"
      nzPopconfirmPlacement="bottom">
        <fa-icon [icon]="trashIcon"></fa-icon>&nbsp;Remove {{showModalType | titlecase}}
      </button>
    </ng-container>

    <ng-container *ngIf="isOnEditMode">
      <button nz-button nzType="primary">
        Save Changes
      </button>

      <button nz-button nzType="default" (click)="isOnEditMode = false">
        Cancel
      </button>
    </ng-container>
  </div>
</nz-modal>