<h1>Problem: <span class="color-primary">89898</span> &nbsp;<span class="color-status">(Completed)</span></h1>
<h2 style="margin: 0%;">Ava Max - Sweet but Psycho [Official Music Video] <span class="color-primary">[Easy]</span></h2>
<h3 class="color-primary">Arrays</h3>
<div class="companies">
    <nz-tag [nzColor]="'#f50'">#f50</nz-tag>
    <nz-tag [nzColor]="'#2db7f5'">#2db7f5</nz-tag>
    <nz-tag [nzColor]="'#87d068'">#87d068</nz-tag>
    <nz-tag [nzColor]="'#108ee9'">#108ee9</nz-tag>
</div>

<nz-collapse [nzBordered]="false">
    <nz-collapse-panel [nzHeader]="'Description'" [nzActive]="true">
        <div class="description">

        </div>
    </nz-collapse-panel>
    
    <nz-collapse-panel [nzHeader]="'Code'" [nzActive]="false">
        <div class="codeblock">
            <pre><code [highlight]="code"></code></pre>
        </div>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="'Notes'" [nzActive]="false">
        <div class="notes">
            
        </div>
    </nz-collapse-panel>
</nz-collapse>

