<ngx-ui-loader [fgsSize]="100" [fgsType]="SPINNER.foldingCube" [bgsType]="SPINNER.foldingCube" [pbColor]="color"></ngx-ui-loader>

<ng-template #baseTemplate>
  <nz-layout class="layout">
  
    <app-header></app-header>
  
    <nz-content class="fixed-header">
      
      <app-breadcrumb></app-breadcrumb>
  
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    
    </nz-content>
    
    <app-footer></app-footer>
  </nz-layout>
</ng-template>

<ng-template #emptyTemplate>
  <nz-layout class="layout">
    
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  
    <app-footer></app-footer>
  </nz-layout>
</ng-template>

<ng-container switch [EmptyTemplate]="emptyTemplate" [DefaultTemplate]="baseTemplate"></ng-container>


