<nz-layout class="layout">
  <nz-back-top></nz-back-top>
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/dashboard" class="nohover">
        <img src="../assets/logo.png" height="40" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);">&nbsp;&nbsp;Codebase
      </li>
      <li *ngFor="let menu of codebase.navMenus" nz-menu-item routerLink="/problem/type/{{menu.name.toLowerCase()}}">
        {{menu.name}}
      </li>
      <li nz-menu-item *ngIf="showStartTimer && !isDashboardActive" class="nohover" style="float: right;">
        <div>
          <h3 style="margin: 0%;">
            <ng-container *ngIf="!isPaused">
              <fa-icon (click)="pauseTimer()" [icon]="pauseIcon" ></fa-icon>&nbsp;
            </ng-container>

            <ng-container *ngIf="isPaused">
              <fa-icon (click)="resumeTimer()" [icon]="playIcon" ></fa-icon>&nbsp;
            </ng-container>

            <fa-icon (click)="stopTimer()" [icon]="stopIcon" ></fa-icon>&nbsp;
            <b>{{ minutes | number :'2.0' }}:{{ seconds | number: '2.0'}}</b>
          </h3>
        </div>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item *ngFor="let menu of codebase.runningNav">{{menu.name}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Codebase {{'@'}}<span>{{year}}</span></nz-footer>
</nz-layout>