<nz-layout class="layout">
    <ng-template #headerRef>
      <h4 class="nohover" style="margin: 0%;">
        <img src="../assets/logo.png" height="40" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);">&nbsp;&nbsp;Problems Types
      </h4>
    </ng-template>
  
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item class="nohover" style="padding-left: 0.5%;">
        <span (click)="open()" style="color: var(--secondaryColor);display: inline-block;margin: 0px 10px 0px 0px;">
          <fa-icon [icon]="barsIcon"></fa-icon>
        </span>
        <span routerLink="/dashboard" style="display: inline-block;">
          <img src="../assets/logo.png" height="40" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);">&nbsp;&nbsp;Codebase
        </span>
      </li>
      <li nz-menu-item *ngIf="showStartTimer && !isDashboardActive" class="nohover" style="float: right;padding-right: 0.5%;">
        <div>
          <h3 style="margin: 0%;">
            <ng-container *ngIf="!isPaused">
              <fa-icon (click)="pauseTimer()" [icon]="pauseIcon" ></fa-icon>&nbsp;
            </ng-container>

            <ng-container *ngIf="isPaused">
              <fa-icon (click)="resumeTimer()" [icon]="playIcon" ></fa-icon>&nbsp;
            </ng-container>

            <fa-icon (click)="stopTimer()" [icon]="stopIcon" ></fa-icon>&nbsp;
            <b>{{ minutes | number :'2.0' }}:{{ seconds | number: '2.0'}}</b>
          </h3>
        </div>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <ngx-nav-drawer [(open)]="visible">
      <ul nz-menu nzTheme="dark" nzMode="vertical">
        <li nz-menu-item class="nohover" style="padding: 2rem;display: flex;align-items: center;">
          <span routerLink="/dashboard" style="display: inline-block;">
            <img src="../assets/logo.png" height="40" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);">&nbsp;&nbsp;Codebase
          </span>
        </li>
        <li *ngFor="let menu of codebase.navMenus" nz-menu-item routerLink="/problem/type/{{menu.slug}}" [nzSelected]="isActive(menu.slug)" style="padding: 1.5rem;
        align-items: center;
        display: flex;">
          {{menu.name}}
        </li>    
      </ul>
    </ngx-nav-drawer>

    <nz-breadcrumb>
      <nz-breadcrumb-item *ngFor="let menu of codebase.runningNav">{{menu.name}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer><h3>Designed by © Sanyam Malik</h3></nz-footer>
</nz-layout>