
<div style="display:flex;justify-content: space-between;">
  <div>
    <h1>{{subtitle}} <span *ngIf="title" class="color-primary underline">{{title}}</span></h1>
  </div>
  
  <!-- <div>
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Type Here to Search" [(ngModel)]="searchValue" (ngModelChange)="search()"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div> -->
</div>

<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed" [nzPageIndex]="pageIndex" (nzPageIndexChange)="pageChange($event)">
    <thead>
      <tr>
        <ng-container *ngFor="let column of listOfColumns">
          <th *ngIf="column.allowFilter && column.allowSort"
            [nzWidth]="column.width"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>

          <th *ngIf="!column.allowFilter && column.allowSort"
            [nzWidth]="column.width"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
          >
            {{ column.name }}
          </th>

          <th *ngIf="column.allowFilter && !column.allowSort"
            [nzWidth]="column.width"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>

          <th nzCustomFilter *ngIf="column.allowSearch && !column.allowFilter && !column.allowSort">
            {{ column.name }}
            <nz-filter-trigger [(nzVisible)]="visibleMap[column.name.toLowerCase()]" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <span nz-icon nzType="search"></span>
            </nz-filter-trigger>
          </th>

          <th *ngIf="!column.allowFilter && !column.allowSort && !column.allowSearch" [nzWidth]="column.width">
            {{ column.name }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data;let i = index">
        <td>
          <a routerLink="/problem/statement/{{data.slug}}">{{ data.name }}</a>
        </td>
        
        <td>
          {{ data.type }}<div *ngIf="data.subdirectory">({{data.subdirectory.replaceAll(":", " -> ")}})</div>
        </td>
        
        <td>{{ data.level }}</td>
        
        <td>{{ data.status }}</td>
        
        <td style="text-align: center;">
          <span *ngIf="data.companies && data.companies.length > 0">
            <div style="justify-content: center;">
              <nz-tag *ngFor="let company of data.companies.slice(0, 5)" [nzColor]="getCompanyColor(company)" (click)="tagClick(company.name)">{{company.name}}</nz-tag>
              <ng-container *ngIf="showMore[i]">
                <nz-tag *ngFor="let company of data.companies.slice(5)" [nzColor]="getCompanyColor(company)" (click)="tagClick(company.name)">{{company.name}}</nz-tag>
              </ng-container>
              <ng-container *ngIf="data.companies.length > 5">
                <nz-tag *ngIf="!showMore[i]" (click)="showMore[i] = true;" [nzColor]="'transparent'">+ More</nz-tag>
                <nz-tag *ngIf="showMore[i]" (click)="showMore[i] = false;" [nzColor]="'transparent'">- Less</nz-tag>
              </ng-container>
            </div>
          </span>

          <span *ngIf="data.companies && data.companies.length == 0">
            <div> No Company Information </div>
          </span>
        </td>
      </tr>
    </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()">OK</button>
      <button nz-button nzSize="small" nzType="text" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>