<h1 *ngIf="!isStatusFilter && !isTypeFilter && !isLevelFilter && !isCompanyFilter">All Problems</h1>
<h1 *ngIf="isTypeFilter">All Problems Related to <span class="color-primary underline">{{type}}</span></h1>
<h1 *ngIf="isLevelFilter">All <span class="color-primary underline">{{level}}</span> Problems</h1>
<h1 *ngIf="isStatusFilter">All Problems Having <span class="color-primary underline">{{status}}</span> as Status</h1>
<h1 *ngIf="isCompanyFilter">All Problems Asked in <span class="color-primary underline">{{company}}</span></h1>

<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed" [nzPageIndex]="pageIndex" (nzPageIndexChange)="pageChange($event)">
    <thead>
      <tr>
        <ng-container *ngFor="let column of listOfColumns">
          <th *ngIf="column.allowFilter && column.allowSort"
            [nzWidth]="column.width"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>

          <th *ngIf="!column.allowFilter && column.allowSort"
            [nzWidth]="column.width"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
          >
            {{ column.name }}
          </th>

          <th *ngIf="column.allowFilter && !column.allowSort"
            [nzWidth]="column.width"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>

          <th *ngIf="!column.allowFilter && !column.allowSort" [nzWidth]="column.width">
            {{ column.name }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td><a routerLink="/problem/statement/{{data.id}}">{{ data.name }}</a></td>
        <td>{{ data.type }}</td>
        <td>{{ data.level }}</td>
        <td>{{ data.status }}</td>
        <td style="text-align: center;">
          <div *ngIf="data.companies && data.companies.split(',').length > 0" style="justify-content: center;">
            <nz-tag *ngFor="let company of data.companies.split(',')" [nzColor]="companiesColor[company]" (click)="tagClick(company)">{{company}}</nz-tag>
          </div>
          <ng-container *ngIf="!data.companies || data.companies.split(',').length == 0">
            <div> No Company Information </div>
          </ng-container>
        </td>
      </tr>
    </tbody>
</nz-table>