<div style="display: flex;justify-content: space-between;align-items: center;">
    <div>
        <h1 style="margin: 0%;">Curated Playlists to Watch</h1>
    </div>
    <div style="text-align: right;">
        <div style="display: inline-flex;flex-direction: row;
        justify-content: center;
        align-items: center;">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input [(ngModel)]="search" (ngModelChange)="initSearch()" type="text" nz-input placeholder="Search..." />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
            </ng-template>
        </div>
    </div>
</div>

<div *ngFor="let grid of paginatedRecords" class="grid4">
    <div *ngFor="let playlist of grid" class="dashcard">
         <h2 style="margin: 1rem;">
            <a routerLink="/marketplace/playlist/{{playlist.uid}}">{{ playlist.name }}</a>
        </h2>
        <h3>Total Items: <span class="color-primary">{{ playlist.total_count }}</span></h3>
    </div>
</div>

<div *ngIf="paginatedRecords.length == 0" class="center-div" style="width: 100%; height: 400px;margin: 2rem;">
    <nz-list nzItemLayout="horizontal">
        <nz-list-empty></nz-list-empty>
    </nz-list>
</div>

<div style="display: flex;justify-content: space-between;align-items: center;">
    <div>
        <h3 style="margin: 0%;">Total Playlists: <span class="color-primary">{{playlists.length}}</span></h3>
    </div>
    <div style="text-align: right;">
        <div style="display: inline-flex;flex-direction: row;
        justify-content: center;
        align-items: center;">
            <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="pageTotal" (nzPageIndexChange)="pageChange($event)"></nz-pagination>
        </div>
    </div>
</div>
