<div style="display: flex;justify-content: space-between;">
    <div>
        <h1 style="margin: 0%;">Welcome to your dashboard</h1>
    </div>
    <div>
        <h1 style="margin: 0%;">
            <a class="btn-primary" routerLink="/problems">View All Problems
                <fa-icon [icon]="arrowRight"></fa-icon>
            </a>
        </h1>
    </div>
</div>

<div class="grid">
    <app-problem-count [text]="'Total Problem Solved'" [count]="'0'"></app-problem-count>
    <app-problem-count [text]="'Monthly Progress'" [count]="'0'"></app-problem-count>
    <app-problem-focus [text]="'Focus of Month'" [focus]="'Arrays'"></app-problem-focus>
</div>