<div style="display: flex;justify-content: space-between;">
    <div>
        <h1 style="margin: 0%;">Welcome to your dashboard</h1>
    </div>
    <div>
        <h1 style="margin: 0%;">
            <a class="btn-primary" routerLink="/problems">View All Problems
                <fa-icon [icon]="arrowRight"></fa-icon>
            </a>
        </h1>
    </div>
</div>

<div class="grid">
    <app-problem-count *ngIf="totalCount != undefined" [text]="'Total Problem Solved'" [count]="this.totalCount"></app-problem-count>
    <app-problem-count *ngIf="monthCount != undefined" [text]="'Monthly Progress'" [count]="this.monthCount"></app-problem-count>
    <app-problem-focus *ngIf="monthFocus" [text]="'Focus of Month'" [focus]="this.monthFocus"></app-problem-focus>
</div>