<div class="dashcard">
    <h2 style="font-size:1.5rem;">Problems by Remark</h2>
    <div *ngIf="remarks.length > 0" style="width:80%;height: 400px;margin: 2rem;overflow-y: auto;" class="list">
        <nz-list nzItemLayout="horizontal">
            <nz-list-item *ngFor="let remark of remarks" style="cursor: pointer;" (click)="redirectToRemarks(remark)">
                <h2 style="margin: 0%;"> 
                    <fa-icon [icon]="listIcon" style="color: var(--secondaryColor)"></fa-icon>
                    {{remark}}
                </h2>
            </nz-list-item>
        </nz-list>
    </div>

    <div *ngIf="remarks.length == 0" class="center-div" style="width: 85%; height: 400px;margin: 2rem;">
        <nz-list nzItemLayout="horizontal">
            <nz-list-empty></nz-list-empty>
        </nz-list>
    </div>
</div>