
  @import url('https://fonts.googleapis.com/css2?family=Inter:slnt@-10..0&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

  :root {
    --primaryColor: #90ac07;
    --secondaryColor: #76c405;
    --headerColor: rgb(17 17 17);
    --backgroundColor: rgb(26, 26, 26);
    --alternativeTableColor: rgba(255, 255, 255, 0.12);
    --textPrimaryColor: #f5f5f5bf;
    --textSecondaryColor: white;
    --boxText: white;
    --boxColor: #1E1E1E;
    --boxShadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --paginationDisabledBGColor: #39383840;
    --paginationActiveBGColor: rgb(92 92 92);
    --paginationBGColor: #3c3b3b;
    --paginationTXTColor: white;
  }
  
  h1, h2, h3, h4, h5, h6, p, span, div {
    color: var(--textPrimaryColor);
    font-family: "Lato"
  }

  th {
    font-family: "Lato" !important;
    font-size: medium !important;
    font-weight: bold !important;
  }

  ::selection {
    color: var(--textSecondaryColor);
    background: var(--primaryColor)
  }

  a {
    color: var(--textPrimaryColor);;
  }

  a:hover, a:focus {
    color: var(--secondaryColor);
  }

  .ant-layout-header, .ant-layout-footer {
    color: var(--textPrimaryColor);
    background-color: var(--headerColor);
  }

  .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark, .ant-menu.ant-menu-dark .ant-menu-sub {
    background-color: transparent;
    font-size: 1rem;
  }

  .horizontal-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sub-menu-div {
      width: 50%;
      display: inline-flex;
    }

    .sub-menu-div:first-child {
      justify-content: start;
    }
    .sub-menu-div:last-child {
      justify-content: end;
    }
  }

  .ant-table-footer, .ant-table-thead > tr > th {
    background: transparent;
  }

  .ant-table-thead th.ant-table-column-has-sorters.ant-table-cell-fix-left:hover, .ant-table-thead th.ant-table-column-has-sorters.ant-table-cell-fix-right:hover, .ant-table-thead th.ant-table-column-sort {
    background: transparent;
  }

  .ant-layout-content {
    background: var(--backgroundColor);
  }

  .ant-breadcrumb-separator, .anticon, .ant-table-column-sorter-down.active, .ant-table-column-sorter-up.active {
    color: var(--primaryColor);
    font-weight: bold;
  }

  .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
    .ant-menu-title-content {
      color: var(--textSecondaryColor);
    }
    background-color: var(--primaryColor);
  }

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected, .ant-menu.ant-menu-dark .ant-menu-item-selected {
    .ant-menu-title-content {
      color: var(--textSecondaryColor)
    }
    background-color: var(--primaryColor);
  }

  .ant-badge-status-text, .ant-breadcrumb, .ant-breadcrumb .anticon, .ant-btn, .ant-ribbon {
    font-size: 1rem;
  }

  .ant-pagination-item-active:focus-visible, .ant-pagination-item-active:hover, .ant-pagination-next:hover button, .ant-pagination-prev:hover button {
    border-color: transparent;
  }

  .ant-pagination-item, .ant-pagination-prev, .ant-pagination-next {
    font-weight: bold;
    a, a:hover {
      color: var(--paginationTXTColor);
    }
    background-color: var(--paginationBGColor);
    border-radius: 5px;
    border-color: transparent;
  }

  .ant-table-tbody > tr.ant-table-placeholder:hover > td {
    background: transparent;
  }

  .ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 12px;
    text-align: center;
    background-color: inherit;
    border: none;
    border-radius: 2px;
    outline: 0;
    transition: all .3s;
  }

  .ant-pagination-item:hover {
    border-color: var(--primaryColor);
  }

  .ant-pagination-disabled, .ant-pagination-disabled:hover {
    cursor: not-allowed;
    background: var(--paginationDisabledBGColor);
  }

  .ant-pagination-item-active {
    background: var(--paginationActiveBGColor);
  }

  .ant-breadcrumb {
    color: var(--primaryColor);
  }

  .ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: transparent;
  }

  .ant-table-thead, .ant-table-tbody {
    background: var(--backgroundColor);
  }

  .ant-table-tbody > tr > td {
    border-bottom: transparent;
  }

  .ant-table-thead > tr > th, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr:not(:last-child) > th, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr:not(:last-child) > th, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr:not(:last-child) > th, .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > thead > tr:not(:last-child) > th {
    border-bottom: 2px solid var(--primaryColor);
  }

  .ant-table-row:nth-child(2n) {
    background-color: var(--alternativeTableColor);
  }

  .nostrips {
    tr:nth-child(2n) {
      background-color: transparent !important;
    }
  }

  .ant-table-filter-dropdown {
    padding: 0.8rem;
  }

  .ant-dropdown-menu, .ant-table-filter-dropdown {
    background-color: var(--headerColor);
  }

  .ant-dropdown-menu-item {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
  }

  .ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu-title-selected{
    background-color: var(--alternativeTableColor);
    border-top: none;
  }

  .ant-dropdown-menu-item:hover {
    background-color: var(--alternativeTableColor);
  }

  .ant-result-title, .ant-result-subtitle {
    color: var(--textSecondaryColor);
  }

  .ant-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1.0em;
    background: var(--headerColor);
    border-color: var(--headerColor);
    color: var(--textPrimaryColor);
  }

  .ant-btn:active, .ant-btn:focus, .ant-btn:hover {
    text-decoration: none;
    color: var(--textSecondaryColor);
    background: var(--headerColor);
    border-color: var(--headerColor);
    span, div {
      color: var(--textSecondaryColor);
    }
  }
  .ant-btn:focus, .ant-btn:hover {
    color: var(--textSecondaryColor);
    border-color: var(--headerColor);
  }

  .ant-btn-primary {
    color: var(--textPrimaryColor);
    border-color: var(--primaryColor);
    background: var(--primaryColor);
  }

  .ant-table-filter-dropdown-btns {
    display: flex;
    align-items: center;
    border-top: none;
  }

  .ant-btn-primary:focus, .ant-btn-primary:hover {
    color: var(--textPrimaryColor);
    border-color: var(--secondaryColor);
    background: var(--secondaryColor);
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
  }

  .ant-radio-inner::after {
    background-color: var(--secondaryColor);
  }

  .ant-radio-checked .ant-radio-inner {
    border-color: var(--secondaryColor);
  }


  .ant-table-filter-dropdown .ant-dropdown-menu:empty::after {
    font-size: 1rem;
    color: var(--textPrimaryColor);
  }

  .color-primary {
    color: var(--secondaryColor);
  }

  .color-status {
    color: var(--textPrimaryColor);
  }

  .codeblock {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--primaryColor) transparent; /* For Firefox */
    height: fit-content;
    max-height: 60vh;
    overflow: auto;
    box-shadow: var(--boxShadow);
    position: relative;
    div, span{
      font-family: inherit;
    }
    .copybutton {
      position: absolute; 
      top: 0.5em; 
      right: 0.5em; 
      opacity: 0; 
      transition: opacity 250ms ease-out;
    }
  }

  .codeblock:hover {
    .copybutton { 
      opacity: 1; 
    }
  }

  .description, .notes {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--primaryColor) transparent; /* For Firefox */
    height: fit-content;
    padding: 0.8%;
    color: var(--boxText);
    background: var(--boxColor);
    max-height: 60vh;
    overflow: auto;
    box-shadow: var(--boxShadow);
  }
  
  .description::-webkit-scrollbar, .notes::-webkit-scrollbar, .codeblock::-webkit-scrollbar {
    width: 12px; /* For Chrome */
  }

  .description::-webkit-scrollbar-thumb, .notes::-webkit-scrollbar-thumb, .codeblock::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    border-radius: 25px; /* Rounded edges */
  }

  .description::-webkit-scrollbar-track, .notes::-webkit-scrollbar-track, .codeblock::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .ant-collapse{
    margin: 2rem 0; 
  }

  .ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
    color: var(--textPrimaryColor);
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header, .ant-collapse-content-box {
    color: var(--textPrimaryColor);
    font-size: 1rem;
    background-color: var(--headerColor);
  }

  .ant-collapse-borderless > .ant-collapse-item {
    border-bottom: none;
  }

  .ant-breadcrumb-link {
    cursor: default;
  }

  .ant-layout-header {
    height: auto;
  }

  .btn-code-action {
    background: white;
    color: rgb(40 40 40);
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1rem;
    box-shadow: var(--boxShadow);
    img {
      height: 35px;
    }
  }

  .btn-primary {
    background: var(--headerColor);
    color: var(--textPrimaryColor);
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1rem;
    box-shadow: var(--boxShadow);
    img {
      height: 35px;
    }
  }

  .underline {
    text-decoration: underline;
  }

  .nohover {
    color: var(--textPrimaryColor) !important;
    .ant-menu-title-content {
      color: var(--textPrimaryColor) !important;
    }
    .ant-menu-item-selected {
      color: var(--textPrimaryColor) !important;
    }
    background-color: transparent !important;
  }

  .nohover:hover {
    .ant-menu-title-content {
      color: var(--textPrimaryColor) !important;
      .ant-dropdown-link, .ant-dropdown-link:hover {
        color: var(--textPrimaryColor) !important;
      }
    }
    .ant-menu-item-selected {
      color: var(--textPrimaryColor) !important;
    }
  }

  .grid3 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin: 1rem 0rem;
    border-radius: 20px;
    padding: 5px;

    .dashcard {
      display: flex;
      justify-content: center; /* Centers horizontally */
      align-items: center; /* Centers vertically */
      grid-row: 1; /* keeps all items on the first row */
      border: 4px solid var(--backgroundColor);
      flex-direction: column;
      box-shadow: var(--boxShadow);
      border-radius: 20px;
      background-color: var(--headerColor);
      padding: 1rem 0px;
    }
  }

  .grid4 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin: 1rem 0rem;
    border-radius: 20px;
    padding: 5px;

    .dashcard {
      display: flex;
      justify-content: center; /* Centers horizontally */
      align-items: center; /* Centers vertically */
      grid-row: 1; /* keeps all items on the first row */
      border: 4px solid var(--backgroundColor);
      flex-direction: column;
      box-shadow: var(--boxShadow);
      border-radius: 20px;
      background-color: var(--headerColor);
      padding: 1rem 0px;
    }
  }

  .grid2 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin: 1rem 0rem;
    border-radius: 20px;
    padding: 5px;

    .dashcard {
      display: flex;
      justify-content: center; /* Centers horizontally */
      align-items: center; /* Centers vertically */
      grid-row: 1; /* keeps all items on the first row */
      border: 4px solid var(--backgroundColor);
      flex-direction: column;
      box-shadow: var(--boxShadow);
      border-radius: 20px;
      background-color: var(--headerColor);
      padding: 1rem 0px;
    }
  }


  .grid1 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    margin: 1rem 0rem;
    border-radius: 20px;
    padding: 5px;

    .dashcard {
      display: flex;
      justify-content: center; /* Centers horizontally */
      align-items: center; /* Centers vertically */
      grid-row: 1; /* keeps all items on the first row */
      border: 4px solid var(--backgroundColor);
      flex-direction: column;
      box-shadow: var(--boxShadow);
      border-radius: 20px;
      background-color: var(--headerColor);
      padding: 1rem 0px;
      overflow-x: auto;
    }

    .timelinecard {
      border: 4px solid var(--backgroundColor);
      flex-direction: column;
      box-shadow: var(--boxShadow);
      border-radius: 20px;
      background-color: var(--headerColor);
      padding: 1rem 0px;
      overflow-x: auto;

      .menu {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center; /* Centers vertically */
        flex-direction: column;
      }

      .content {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .noborder {
    border: none;
  }

  .highcharts-point {
    stroke: none !important;
  }

  .center-div{
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .ant-checkbox-group, .ant-collapse {
    box-shadow: var(--boxShadow);
  }

  .ant-tag-has-color, .ant-tag-has-color .anticon-close, .ant-tag-has-color .anticon-close:hover, .ant-tag-has-color a, .ant-tag-has-color a:hover {
    color: var(--textPrimaryColor);
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.3% 0.8%;
    margin: 0.4% 0.4% 0.4% auto;
    box-shadow: var(--boxShadow);
    cursor: pointer;
  }

  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon {
    color: var(--primaryColor);
    font-weight: bold;
  }

  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: var(--primaryColor);
    font-weight: bold;
  }

  .ant-table-footer, .ant-table-thead > tr > th {
    color:  var(--textPrimaryColor);
  }

  .ant-segmented-item-label {
    color: var(--textPrimaryColor);
    font-weight: bold;
  }

  .ant-segmented-item-selected, .ant-segmented-thumb {
    background-color: var(--backgroundColor);
    border: 2px solid var(--primaryColor);
  }

  .ant-segmented-item {
    padding: 1%;
  }

  .ant-segmented{
    border: 1px solid transparent;
    background-color: transparent;
  }

  
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none !important;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
  }


  .ant-list-split .ant-list-item {
    border-bottom: none;
    //border-bottom: 1px solid var(--textPrimaryColor);
  }

  .ant-list-item {
    display: list-item;
    font-size: 1rem;
    color: var(--textPrimaryColor);
  }

  .ant-list-item-meta-description, .ant-list-item-meta-title {
    color: var(--textPrimaryColor);
  }

  .ant-drawer-header {
    background: var(--headerColor);
    border-bottom-color: var(--secondaryColor);
  }

  .ant-drawer-content {
    background-color: var(--backgroundColor);
  }

  .ant-drawer-header-title {
    flex-direction: row-reverse;
  }

  .ant-drawer-close {
    margin-left: 12px;
    margin-right: 0%;
  }

  .ngx-nav-drawer {
    background-color: var(--backgroundColor) !important;
    border-right: 2px solid var(--primaryColor) !important;
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
      display: none !important;
    }
  }

  .ant-segmented:not(.ant-segmented-disabled):focus, .ant-segmented:not(.ant-segmented-disabled):hover {
    background-color: transparent;
  }

  .ant-timeline-item-head-blue {
    color: var(--primaryColor);
    border-color: var(--primaryColor);
  }

  .ant-timeline-item-tail {
    border-left: 4px solid var(--backgroundColor);
  }

  .ant-timeline-item-head {
    width: 13px;
    height: 10px;
    background-color: var(--primaryColor);
  }

  .ant-timeline-item-content {
    font-size: medium;
  }

  .ant-timeline.ant-timeline-label .ant-timeline-item-label {
    font-size: medium;
  }

  .ant-message-notice-content {
    background: var(--backgroundColor);
  }

  .ant-popover-inner {
    background-color: var(--backgroundColor);
    box-shadow: var(--boxShadow);
  }

  .ant-popover-title {
    color: var(--textPrimaryColor);
    border-bottom: 1px solid var(--secondaryColor);
    font-size: medium;
  }

  /* .ant-popover-content {
    border: 1px solid var(--secondaryColor);
  } */

  .ant-popover-arrow-content::before {
    background: -10px -10px no-repeat var(--backgroundColor);
  }

  *:focus {
    outline: none;
  }

  .layout {
    min-height: 100vh;
  }

  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  .inner-content {
    padding: 1rem 0px;
    min-height: 380px;
  }

  :host ::ng-deep .ant-back-top {
    bottom: 100px;
  }

  :host ::ng-deep .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: var(--primaryColor);
    color: var(--textSecondaryColor);
    text-align: center;
    font-size: 20px;
  }

  .d-list {
    display: flex;
    justify-content: space-between;
    .ant-menu-title-content {
      display: flex;
      align-items: center;
      .d-list-item {
        display: block;
        padding: 0.6rem;
        align-content: center;
        .d-title {
          font-weight: bold;
          padding: 0%;
          margin: 0%;
        }
        .d-description {
          font-size: small;
          font-style: italic;
        }
      }
    }
  }

.d-list-container {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--primaryColor) transparent; /* For Firefox */
    min-height: fit-content;
    max-height: 380px;
    min-width: 300px;
    overflow-y: auto;
}
  
.d-list-container::-webkit-scrollbar {
    width: 12px; /* For Chrome */
}

.d-list-container::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    border-radius: 25px; /* Rounded edges */
}

.d-list-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.markup {
  h1, h2, h3, h4, h5, h6 {
    color: var(--primaryColor);
  }
  pre {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    padding: 2rem;
    box-shadow: var(--boxShadow);
    background-color: var(--boxColor);
    outline: 1px dashed var(--primaryColor);
    span, div {
      font-family: inherit;
    }
    code {
      font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace !important;
      color: var(--textSecondaryColor);
    }
  }
  li {
    margin-bottom: 1em;
  }
}

.ant-modal-content {
  background-color: var(--backgroundColor);
  .ant-modal-header {
    .ant-modal-title > div {
      color: var(--primaryColor);  
    }
    border: none;
    color: var(--primaryColor);
    background: var(--backgroundColor);
  }
  .ant-modal-footer {
    border: none;
  }
}

.ant-menu-dark .ant-menu-item-active > a, .ant-menu-dark .ant-menu-item-active > span > a, .ant-menu-dark .ant-menu-item:hover > a, .ant-menu-dark .ant-menu-item:hover > span > a, .ant-menu-dark .ant-menu-submenu-active > a, .ant-menu-dark .ant-menu-submenu-active > span > a, .ant-menu-dark .ant-menu-submenu-open > a, .ant-menu-dark .ant-menu-submenu-open > span > a, .ant-menu-dark .ant-menu-submenu-selected > a, .ant-menu-dark .ant-menu-submenu-selected > span > a, .ant-menu-dark .ant-menu-submenu-title:hover > a, .ant-menu-dark .ant-menu-submenu-title:hover > span > a {
  color: var(--primaryColor);
}

pre {
  margin-top: 0;
  margin-bottom: 0;
}

.capitalize {
  text-transform: lowercase;
}
.capitalize::first-letter {
  text-transform: uppercase;
}

.ant-modal-body {
  padding: 0px 24px 24px 24px
}

.btn-clipboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--headerColor);
  border: 0.5px solid var(--secondaryColor);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all .2s ease-out;
  box-shadow: var(--boxShadow);
}

.btn-theme-switch {
  background-color: var(--headerColor);
  border: 0.5px solid var(--secondaryColor);
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all .2s ease-out;
  box-shadow: var(--boxShadow);
}

code[class*="language-"] {
  font-size: 1rem !important;
}

.quote {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  span, div {
    font-family: inherit;
  }
}

.no-margin-elements {
  p, span, div {
    margin: 0%;
  }
}

.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: var(--primaryColor);
}

.ant-progress-circle .ant-progress-text {
  .anticon {
    color: inherit;
  }
  color: var(--textPrimaryColor);
}

.codetag {
  background: var(--headerColor);
  color: var(--textPrimaryColor);
  padding: 4px 8px;
  margin: 0%;
  border: none;
  border-radius: 10px;
}